* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input,
button,
textarea,
select {
	margin: 0;
	font: inherit;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	object-fit: cover;
}

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active {
// 	-webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
// 	-webkit-transition-delay: 9999s;
// }
input:-webkit-autofill,
input:-webkit-autofill:focus {
	transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
	background-color: transparent !important;
	font-family: "Montserrat", sans-serif;
}
